# python stuff
__pycache__

# vim stuff
*.swp

# yahztai files
gamelog

# java tests
*.java

# pickle files
*.p

# cloned git repos
combinatoricslib3/

# mac numbers files (mac version of excel)
*.numbers

# pdf
*.pdf
!yahtzai_ai_report.pdf

# zip stuff
*.zip
yahtzai_zip/
